<div id="main">

<div id="intro"><h1>From the Desk of Steve Jobs</h1><p>It has recently been brought to the attention of the Internets that one Steve Jobs, the CEO of a multibillion dollar company had taken to answering all of his emails himself. Not just the ones involving trillion-dollar acquisitions or Microsoft TabletPC launches mind you, but even emails from regular joes like you and me. People who would ordinarily not warrant even a nanosecond of his time. Clearly, something is afoot. After all, you don't seriously believe that someone like Mr. Jobs would give two shits about you and your iPhone tethering issues, do you? Of course not! Clearly, this is all the work of Mr. Jobs' faithful dog Fireball, and the god-like auto-correct on Steve's third-generation iPad!</p></div>
<div id="help"></div>
<div id="game">
  <h1>From the Desk of Steve Jobs</h1>
  <div class="lamp"></div>
  <div class="ipad"></div>
  <div class="fireball"></div>
  <div class="steve">
    <div class="steve_head"></div>
    <div class="steve_hand"></div>
    <div class="steve_body"></div>
  </div>
  <div class="desk"></div>
</div>
<div id="results"></div>

</div>