<div id="main">

    <div id="hud">
      <h1>From the Desk of Steve Jobs</h1>
      <div class="hud_bg"></div>
      <div class="content"></div>
    </div>
    
    <div id="intro">
      <p>It has recently been brought to the attention of the Internets that one Steve Jobs, 
      the CEO of a revolutionary, magical, multibillion-dollar company had started answering 
      all of his emails himself. <strong>Yup, even emails from regular joes like you and me.</strong>
      People who would ordinarily not warrant a nanosecond of his time. <br/><br /> 
      <span style="font-size:18px">Clearly, this is not Steve Jobs writing emails at all, but 
      <strong>his faithful dog Fireball, and 
      the omniscient auto-complete on Steve's iPad!</strong></span></p>
      <div class="help"></div>
    </div>
    
    <div id="help">
      <h2>How to Play</h2>
      <h3>Send out as many emails as you can while Steve is sleeping!</h3>
      <p>
        Don't worry about making sense, the iPad knows what you need to say. <strong>Just mash that keyboard as fast as your paws will let you!</strong>
      </p> 
      <p>
        Be careful though - if Steve wakes up and catches you, he'll be madder than if he had caught you selling iPhone prototypes to Gizmodo!
        <strong>Press ESC to turn off the iPad so Steve can go back to sleep.</strong>
      </p>
      <div class="start"></div>
    </div>
    
    <div id="game">
      <h1>From the Desk of Steve Jobs</h1>
      <div id="lamp"></div>
      <div id="ipad"></div>
      <div id="fireball"></div>
      <div id="steve">
        <div id="steve_head"></div>
        <div id="steve_hand"></div>
        <div id="steve_body"></div>
      </div>
      <div id="desk"></div>
      <div id="input"></div>
      <div id="timer"></div>
      <div id="email_sent">Email Sent!</div>      
    </div>
    
    <div id="defeat">
      <img src="/images/steve_angry_1.png" id="steve_angry" />
      <div class="try_again"></div>
    </div>
    
    <div id="results">
      <div class="score"><span>Emails</span></div>
      <div class="try_again"></div>
    </div>
    
  </div>
  
  <div id="share">
    <!--
<div class="sharethis">
      <script type="text/javascript" src="http://w.sharethis.com/button/sharethis.js#publisher=013e2270-045a-4d38-8258-4e32fbd37349&amp;type=website&amp;style=horizontal&amp;post_services=email%2Cfacebook%2Ctwitter%2Cgbuzz%2Cmyspace%2Cdigg%2Csms%2Cwindows_live%2Cdelicious%2Cstumbleupon%2Creddit%2Cgoogle_bmarks%2Clinkedin%2Cbebo%2Cybuzz%2Cblogger%2Cyahoo_bmarks%2Cmixx%2Ctechnorati%2Cfriendfeed%2Cpropeller%2Cwordpress%2Cnewsvine"></script>
    </div>
    <div class="facebook_like">
      <iframe class="fb_like" src="http://www.facebook.com/plugins/like.php?href=http%253A%252F%252Fstevejobs.syndeolabs.com&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;font&amp;colorscheme=dark&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
    </div>
-->
  </div>
  
  <div id="credits">
    <p>This game was brought to you by <a href="http://twitter.com/helloluis">@helloluis</a> of 
    <a href="http://syndeolabs.com">syndeolabs</a>. If you enjoyed playing, <a href="http://twitter.com/helloluis">follow luis on Twitter</a>, 
    or better yet, buy him a beer by clicking the Donate button:</p>
    <!--
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="NMBCG8GY9K3Z6">
    <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
-->
  </div>

  <div id="loader">
    <div class="typing_1"></div>
    <div class="typing_2"></div>
    <div class="typing_3"></div>
  </div>